@font-face{
    font-family: "Nitw";
    src: url(./Nitw.otf);
}


.emb{
    font-family: "Nitw";
    height:465px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;

}

.emb::-webkit-scrollbar{
    width:4px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.emb::-webkit-scrollbar-thumb{
    border-width: 4px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}


.gifWrapper{
    position: relative;
    display:inline-block;
    margin: 0 auto;
    overflow: hidden;



}

.gifWrapper iframe{
    position: relative;
    height:400px;
    width:400px;

}

