body {
    margin: 0px;
    height:100vh;
    display:grid;
    place-items:center;
}

.card-group,
.card {
    aspect-ratio: 16/9;
}

.card-group,
.main-card {
    width: 60vmin;
    display:grid;
    place-items:center;
}

.main-card,
.content {
    aspect-ratio: 16/9;
    width: 60vmin;
}

.card {
    border-style: dotted;
    border-color: black;
    position: absolute;
    transition: transform 800ms cubic-bezier(0.075, 0.82, 0.165, 1)
}

.main-card {
    width: 60vmin;
    border-radius: 1vmin;
    background-color: white;
}

.transition-card{
    width: 40vmin;
    border-radius: 2vmin;
}

/*    transform: translateX(-5%) translateY(5%); */



.main-card[data-index="1"] {
    transform: translateX(5%) translateY(-5%);
}

.main-card[data-index="2"]{
    transform: translateX(10%) translateY(-10%);
}

.main-card[data-index="1"]:hover{
    transform: translateX(5%) translateY(-15%);
}

.main-card[data-index="2"]:hover{
    transform: translateX(10%) translateY(-20%);
}

.content {
    width:60vmin;
    border-radius: 1vmin;
    border-style:dotted;
    border-color:black;
}

