

@font-face {
    font-family: code;
    src: url(Abel-Regular.ttf);

}

body {
    cursor:url("circle.svg"),default;
    touch-action: none;
    -ms-touch-action: none;
    height:100vh;
    display:grid;
    place-items:center;
    font-family: code;
    overflow:hidden;
}

.scrolltemplate{
    height:100%;
    width:100%;
    position:absolute;
}

.scrollbar {
    position: fixed;
    margin-left:-3vmin;
    margin-top:-17.5vmin;
    height: 30vmin;
    aspect-ratio: 0.05;
    border-radius: 2vmin 1vmin 1vmin 2vmin;

    border-style: solid;
    border-width: 0.2vmin;
}

.bar{
    border: 0.2vmin solid black;
    border-radius: 2vmin 1vmin 1vmin 2vmin;
    width:100%;
    transition: margin-top .25s linear;
    color:white;
    transform: translateX(25%) translateY(-25%);
;}


.card-group,
.card {
    aspect-ratio: 16/9;
}

.card-group,
.main-card {
    width:60vmin;
    margin-top:-20vmin;
}

.main-card,
.content{
    aspect-ratio: 16/9;
}

.card {
    border-color: black;
    border-style:solid;
    border-width:0.2vmin;
    position: absolute;
    transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 200ms linear,
    height 200ms linear;
}

.main-card {
    
    width: 60vmin;
    border-radius: 1vmin;
    transform: translate(15%) translateY(-15%);
    color: rgba(0,0,0,0);
    display: none;

}

.main-card[data-true-index="0"]{
    transform: translate(0) translate(0);
    z-index: 2;
    background-color: white;
    color:rgba(1,1,1,1);
    display:block;
}

.main-card[data-true-index="1"]{
    transform: translateX(2vmin) translateY(-2vmin);
    z-index:1;
    background-color: white;
    color:rgba(1,1,1,1);
    display:block;


}

.main-card[data-true-index="1"] div:not(:first-child),
.main-card[data-true-index="2"] div:not(:first-child){
    visibility: hidden;
}

.main-card[data-true-index="2"]{
    transform: translateX(4vmin) translateY(-1vmin);
    z-index:0;
    background-color: white;
    color:rgba(1,1,1,1);
    display:block;


}

.main-card[data-true-index="7"]{
    transform: translateX(2vmin) translateY(3vmin);
    z-index:1;
    color:rgba(1,1,1,1);
    display:block;
    border-right: 0;
    border-top: 0;
}

.main-card[data-true-index="1"]:hover{
    transform: translateX(2vmin) translateY(-6vmin);
}

.main-card[data-true-index="2"]:hover{
    transform: translateX(4vmin) translateY(-6vmin);
}

.main-card[data-true-index="7"] div:not(:last-child){
    visibility:hidden;
}




/*  

 ::::::::        ::::::::       ::::    :::      :::::::::::      ::::::::::      ::::    :::      ::::::::::: 
:+:    :+:      :+:    :+:      :+:+:   :+:          :+:          :+:             :+:+:   :+:          :+:     
+:+             +:+    +:+      :+:+:+  +:+          +:+          +:+             :+:+:+  +:+          +:+     
+#+             +#+    +:+      +#+ +:+ +#+          +#+          +#++:++#        +#+ +:+ +#+          +#+     
+#+             +#+    +#+      +#+  +#+#+#          +#+          +#+             +#+  +#+#+#          +#+     
#+#    #+#      #+#    #+#      #+#   #+#+#          #+#          #+#             #+#   #+#+#          #+#     
 ########        ########       ###    ####          ###          ##########      ###    ####          ###     

*/

.content{
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
}

.content > div {
    border-radius: 1vmin;
    min-height:5vmin;
    display: flex;
    align-items: center;
}

.content img{
    height: 3.5vmin;
}

.content p{
    font-size: 2vmin;
    margin-left: 1vmin;
}

.content .header{
    padding-left:1vmin;
}

.content .main{
    align-items:baseline;
    border: 0.15vmin dashed black;
    margin: 1vmin;
    padding: 0vmin 0.5vmin 0vmin 0.5vmin;
    overflow: hidden;
}

.content .footer{
    padding-left: 1vmin;
}

/*  */

.content .main .of-wrapper{
    width:100%;
}

.main-card[data-true-index="0"] .content .main:hover{
    border-style: solid;
}

.content .main p{
    font-size: 2vmin;
}

.content .main .of-wrapper[data-status="expand"] img:hover {
    position:fixed;
    width:92.5%;
    border-style: dashed;
    border-radius: 1vmin;
    border-width: 0.15vmin;
}

.content .main .of-wrapper img{
    margin-top: 1vmin;
    width:100%;

}



.footer .icon{
    height:3vmin;
}

.footer .icon:hover{
    border-style: solid;
    border-radius: 1vmin;
    border-width: 0.2vmin;
    
}

.content .page{
    position:absolute;
    margin:1vmin;
    right:0;
    bottom: 0;
    font-size:2.5vmin;
}

.content .games
.showcase {
    margin-top: 1vmin;
    display: grid;
    grid-template-columns: 25vmin 25vmin;
    grid-gap: 1vmin 1.25vmin;
}

.showcase .blocks {
    background-color: black;;
    overflow: hidden;
    height:25vmin;
    aspect-ratio: 1;
    border-style: dashed;
    border-radius: 1vmin;
    border-width: 0.15vmin;
    border-color: black;
}

.fillele {
    height:100%;
    width:100%;
}
