/* Header */


#Home h1{
	padding-left:30px;

}

/* Body */

body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color: #FFFFFF;
}

/*showcase*/

#Showcase{
	display:flex;
	flex-wrap:wrap;
	flex-basis: 10%;
	position:absolute;
	left:100px;
	top:2.5%;
	justify-content:center;
	width:calc(50% - 100px);
	min-width:210px;
	font-family: pixelFont;



}


#Showcase .background{

	position:fixed;
	left:100px;
	top:2.5%;
	width:calc(50% - 100px);
	height:95%;
	border-right:#4C5760 3px groove;
	min-width:210px;

}
#Showcase .box{

	position:relative;
	margin: 12px 0 0 2%;
	width: calc(20%);
	height:100%;
	border-radius: 7.5px;
	background:black;
	background-position:center;
	background-size:450px;
	background-repeat: no-repeat;
	justify-content:center;
	min-width:80px;
	
	cursor: grab;
	min-height:200px;
	
	transition: opacity .25s ease-in-out, margin-bottom .5s, width .25s ease-in-out;

}

#Showcase .box:hover{
	opacity:0.9;
	width:calc(25%);
	margin-bottom:calc(7.5%);


	transition: opacity .25s ease-in-out, margin-bottom .5s, width .25s ease-in-out;

}

#Showcase .box:hover .category{
	margin-top:70%;
	transition: margin-top .25s ease-in-out;

}

#Showcase .category{
	left:5%;
	position:absolute;
	width:90%;
	height:30%;
	min-width:50px;
	margin-top:10px;
	border-radius:5px;;
	background-color:rgba(255,255,255,0.9);
	transition: margin-top .25s ease-in-out;
	

}

@media only screen and (max-width:1300px){
	#Showcase .box{

		position:relative;
		margin: 12px 0 0 2%;
		width: calc(20%);
		height:100%;
		border-radius: 7.5px;
		background:black;
		background-position:center;
		background-size:450px;
		background-repeat: no-repeat;
		transition: opacity .25s ease-in-out;
		transition: width .25s ease-in-out;
		justify-content:center;
		min-width:80px;


		min-height:120px;
	

	}

	#Showcase .box:hover{
		opacity:0.9;
		width:calc(90px);
		margin-bottom:calc(10%);


		transition: opacity .25s ease-in-out, margin-bottom .5s, width .1s ease-in-out;

	}


	#Showcase .category{
	left:5%;
	position:absolute;
	width:90%;
	height:60%;
	min-width:50px;
	border-radius:5px;;
	background-color:rgba(255,255,255,0.9);


}
}


#Showcase iframe{
	height:50px;
	width:50px;
	opacity:0;
	z-index:-1;
}




#Showcase h1{
	text-align:center;
	margin:auto;	
	margin-top:5%;

	font-size:15px;
	font-weight: bold;
	color:#4C5760;


}

#Showcase h2{
	text-align:center;
	margin:auto;
	font-size:15px;
	font-weight: bold;
	color:gray;

}

/*sidebar*/

#SideBar{
	display:block;
	position:fixed;
	left:0;
	top:0;
	width:100px;
	height:100%;
	background-color:#FFFFFF;
	border-right:#4C5760 3px groove;
}


/*fonts*/

@font-face{
	font-family: pixelFont;
	src: url('./fonts/DisposableDroidBB.ttf');

}